pkgbase = elasticsearch2
	pkgdesc = Distributed RESTful search engine built on top of Lucene
	pkgver = 2.4.6
	pkgrel = 1
	url = https://www.elastic.co/products/elasticsearch
	install = elasticsearch2.install
	arch = any
	license = APACHE
	depends = java-runtime-headless
	depends = systemd
	provides = elasticsearch=2.4.6
	backup = etc/elasticsearch2/elasticsearch.yml
	backup = etc/elasticsearch2/logging.yml
	backup = etc/default/elasticsearch2
	source = http://download.elasticsearch.org/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/2.4.6/elasticsearch-2.4.6.tar.gz
	source = elasticsearch2.service
	source = elasticsearch2@.service
	source = elasticsearch2-sysctl.conf
	source = elasticsearch2-user.conf
	source = elasticsearch2-tmpfile.conf
	source = elasticsearch2.default
	sha256sums = 5f7e4bb792917bb7ffc2a5f612dfec87416d54563f795d6a70637befef4cfc6f
	sha256sums = 1b128a473938b57691cd78f9fd1c938fd0d8ed2f7d677592caaa1467d5151141
	sha256sums = d8559034c2372949c0dadff34d2f1cb65843ae3e8564aebaf37a00f77585a9f8
	sha256sums = b3feb1e9c7e7ce6b33cea6c727728ed700332aae942ca475c3bcc1d56b9f113c
	sha256sums = 815f6a39db6f54bb40750c382ffbdc298d2c4c187ee8ea7e2f855923e2ff354b
	sha256sums = b797948fd11671058a7d3513567308b9ffc43f8c4162a7b098c01fa010c8f24c
	sha256sums = bb74e5fb8bc28f2125e015395ab05bea117b72bfc6dadbca827694b362ee0bf8

pkgname = elasticsearch2

