[Unit]
Description=Elasticsearch 2
Documentation=http://www.elastic.co
Wants=network.target
After=network.target

[Service]
Type=forking
RuntimeDirectory=elasticsearch2
PIDFile=/run/elasticsearch2/%I.pid

Environment=JAVA_HOME=/usr/lib/jvm/default-runtime
Environment=ES_HOME=/usr/share/elasticsearch2
Environment=CONF_DIR=/etc/elasticsearch2/%I
Environment=DATA_DIR=/var/lib/elasticsearch2/%I
Environment=LOG_DIR=/var/log/elasticsearch2
EnvironmentFile=-/etc/default/elasticsearch2

WorkingDirectory=/usr/share/elasticsearch2

User=elasticsearch
Group=elasticsearch

ExecStart=/usr/bin/elasticsearch2 -d \
            -p /run/elasticsearch2/%I.pid \
            -Des.default.path.home=${ES_HOME} \
            -Des.default.path.logs=${LOG_DIR} \
            -Des.default.path.data=${DATA_DIR} \
            -Des.default.path.conf=${CONF_DIR}

SuccessExitStatus=143

LimitNOFILE=65535
LimitMEMLOCK=infinity
TimeoutStopSec=120
Restart=on-failure

[Install]
WantedBy=multi-user.target
